       .top-buttons {
            width: 100vw;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
          
            margin: 0 auto;
            background-color: black;
            z-index: 1;
            gap: 2rem;
        }

          .button-logos {
            
            height: 50px;
            border-style: none solid none solid;
            border-color: white;  
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            color: white;
            cursor: Pointer;
            background-color: transparent;
            padding-right: 50px;
            padding-left: 50px;
            font-size: 20pt;
            transition: color 2s;
        }
        
          .button-websites, .button-BusinessCards {
    
            height: 50px;
            border-style: none;
            border-color: white;  
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            color: white;
            cursor: Pointer;
            background-color: transparent;
            font-size: 20pt;
            transition: color 2s;
        }

        .button-websites:hover {
            color: darkred;
        }
           .button-logos:hover {
            color: darkred;
        }
           .button-BusinessCards:hover {
            color: darkred;
        }

        @media screen and (max-width: 600px) {
            .top-buttons {
                flex-direction: row;
                max-width: 100%vw;
                height: auto;
                padding: 5px 0;
                z-index: 100;
            }
            .button-logos, .button-websites, .button-BusinessCards {
                width: 100%;
                text-align: justify;
                padding: 5px 0;
                font-size: 10pt;
            }
          
        }
