.card1{
Height: 600px;
Width: 1050px;
Border-style: Solid;
Border-Width: 1px;
border-color: white;
Color: White;
Background-color: CornflowerBlue;
}
.card2{
Height: 600px;
Width: 1050px;
Border-style: Solid;
Border-Width: 1px;
border-color: white;
Color: White;
Background-color: indigo;
}
.card3{
Height: 600px;
Width: 1050px;
Border-style: Solid;
Border-Width: 1px;
border-color: white;
Color: White;
Background-color: Alicewhite;
}
