        .card-scroll-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: relative;
                top: 830px;
                width: 75%;
                height: 200px;   
                left: 0; 
                right: 0;
                margin: 0; 
                z-index: 3;
                pointer-events: none;
            }
        
        .card-scroll { 
             display: flex;
             align-items: center;
             position: relative;
             border-style: solid; 
             border: 1px;
             background: linear-gradient(90deg, rgba(0,0,0,0), #000000, rgb(70, 9, 9), #000000, rgb(3,2,77,);  
             color: white;
             padding: 2px;
             overflow-x: scroll;
             overflow-y: hidden;
             scroll-behavior:smooth;
             scrollbar-color: MidnightBlue transparent;
             scrollbar-width: thin;
             z-index: 1;
             pointer-events: auto;
         }

            .card-scroll-wrapper::before,
            .card-scroll-wrapper::after {
                content: "";
                position: absolute;
                top: 0;
                width: 40%;
                height: 100%;
                z-index: 10;
                pointer-events: none;
            }
            .card-scroll-wrapper::before {
                left: 0;
                background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
            }
            .card-scroll-wrapper::after {
                right: 0;
                background: linear-gradient(to left, rgba(0, 0, 0, 1), transparent);
            }



            .card1 {
                    width: 1;
                    height: 150px;
                    top: 20px;
                    border-style: solid;
                    border-color: white;  
                    display: flex;
                    color: blue;
                    cursor: Pointer;
                    margin: 0 20px;
                
            
       }

            .card2 {
                    width: 1;
                    height: 150px;
                    top: 20px;
                    border-style: solid;
                    border-color: white;  
                    display: flex;
                    color: blue;
                    cursor: Pointer;

                    margin: 0 20px;
         }

            .card3 {
                    width: 1;
                    height: 150px;
                    top: 20px;
                    border-style: solid;
                    border-color: white;  
                    display: flex;
                    color: blue;
                    cursor: Pointer;

                    margin: 0 20px;
            }
            .card4 {
                    width: 1;
                    height: 150px;
                    top: 20px;
                    border-style: solid;
                    border-color: white;  
                    display: flex;
                    color: blue;
                    cursor: Pointer;

                    margin: 0 20px;
            }
            .card5 {
                    width: 1;
                    height: 150px;
                    top: 20px;
                    border-style: solid;
                    border-color: white;  
                    display: flex;
                    color: blue;
                    cursor: Pointer;

                    margin: 0 20px;
            }
            .card6 {
                    width: 1;
                    height: 150px;
                    top: 20px;
                    border-style: solid;
                    border-color: white;  
                    display: flex;
                    color: blue;
                    cursor: Pointer;

                    margin: 0 20px;
            }



