         .card-scroll {
             
             display: flex;
             position: absolute;
             height: 200px;
             width: 90%;
             border-style: solid; 
             border-weight: 1;
             background-color: none;
             color: white;
             padding: 30px;
             top: 800px;
             
         }
