.heading-texts {
  position: relative;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
  font-size: 5rem;
  font-weight: bold;
  color: #f70808b7;
  margin-bottom: 1rem;
  white-space: nowrap; 
  letter-spacing: 0.1em;
}
